<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">
      Ir a Login
    </a>
  </li>
  <li>
    <a routerLink="/auth/registro">
      Ir a Registro
    </a>
  </li>
  <li>
    <a routerLink="/heroes/listado">
      Ir a Listado de heroes
    </a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">
      Ir a Agregar heroes
    </a>
  </li>
  <li>
    <a routerLink="/heroes/editar/3">
      Ir a Editar heroes
    </a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">
      Ir a buscar heroes
    </a>
  </li>
  <li>
    <a routerLink="/heroes/454">
      Ir a heroe 454
    </a>
  </li>
</ul>
